<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 10px;"> 
# Pandas: Apply, loc, and iloc 

---
Week 2 | Supplemental

In [13]:
import pandas as pd
import numpy as np

In [7]:
hsq_path = '~/DSI-SF-5/datasets/humor_styles/hsq_data.csv'
df = pd.read_csv(hsq_path)

In [9]:
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q30,Q31,Q32,affiliative,selfenhancing,agressive,selfdefeating,age,gender,accuracy
0,2,2,3,1,4,5,4,3,4,3,...,4,2,2,4.0,3.5,3.0,2.3,25,2,100
1,2,3,2,2,4,4,4,3,4,3,...,4,3,1,3.3,3.5,3.3,2.4,44,2,90
2,3,4,3,3,4,4,3,1,2,4,...,5,4,2,3.9,3.9,3.1,2.3,50,1,75
3,3,3,3,4,3,5,4,3,-1,4,...,5,3,3,3.6,4.0,2.9,3.3,30,2,85
4,1,4,2,2,3,5,4,1,4,4,...,5,4,2,4.1,4.1,2.9,2.0,52,1,80

In [14]:
def get_mean(series):
    return np.mean(series)

In [15]:
df[["age", "agressive", 'selfdefeating']].apply(get_mean, axis=0) # axis=0 --> operate on cols

age              70.966387
agressive         2.956583
selfdefeating     2.762745
dtype: float64

In [23]:
# access a subset of the rows
# df.loc[row_index]
df.loc[0:2]

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q30,Q31,Q32,affiliative,selfenhancing,agressive,selfdefeating,age,gender,accuracy
0,2,2,3,1,4,5,4,3,4,3,...,4,2,2,4.0,3.5,3.0,2.3,25,2,100
1,2,3,2,2,4,4,4,3,4,3,...,4,3,1,3.3,3.5,3.3,2.4,44,2,90
2,3,4,3,3,4,4,3,1,2,4,...,5,4,2,3.9,3.9,3.1,2.3,50,1,75

In [24]:
# access a subset of rows and cols
# df.loc[row_Index, col_index]
df.loc[0:2, "accuracy"]

0    100
1     90
2     75
Name: accuracy, dtype: int64

In [25]:
# access a subset of rows and cols
# df.loc[row_Index, col_index]
df.loc[0:2, ["accuracy", "gender"]]

   accuracy  gender
0       100       2
1        90       2
2        75       1

In [35]:
# returns all indicies specified 0,1,2,3 totally to 4 rows
df.loc[0:3]

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q30,Q31,Q32,affiliative,selfenhancing,agressive,selfdefeating,age,gender,accuracy
0,2,2,3,1,4,5,4,3,4,3,...,4,2,2,4.0,3.5,3.0,2.3,25,2,100
1,2,3,2,2,4,4,4,3,4,3,...,4,3,1,3.3,3.5,3.3,2.4,44,2,90
2,3,4,3,3,4,4,3,1,2,4,...,5,4,2,3.9,3.9,3.1,2.3,50,1,75
3,3,3,3,4,3,5,4,3,-1,4,...,5,3,3,3.6,4.0,2.9,3.3,30,2,85

In [32]:
# only accepts a row_index argument and not col_index
# returns 0:n-1 indicies specified 0,1,2 totally to 3 rows 
df.iloc[0:3]

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q30,Q31,Q32,affiliative,selfenhancing,agressive,selfdefeating,age,gender,accuracy
0,2,2,3,1,4,5,4,3,4,3,...,4,2,2,4.0,3.5,3.0,2.3,25,2,100
1,2,3,2,2,4,4,4,3,4,3,...,4,3,1,3.3,3.5,3.3,2.4,44,2,90
2,3,4,3,3,4,4,3,1,2,4,...,5,4,2,3.9,3.9,3.1,2.3,50,1,75